<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.images = {
    logo: "<%= asset_path('tacobrite.png') %>",
    logo_footer: "<%= asset_path('t-brite.png') %>",
    splash: "<%= asset_path('splash.png') %>",
    user: "<%= asset_path('user.png') %>",
    fav: "<%= asset_path('t-brite.png') %>",
    linkedin: "<%= asset_path('linkedin.png') %>",
    github: "<%= asset_path('github.png') %>",
    magnifying_glass: "<%= asset_path('magnifying-glass.png') %>",
  }
</script>

<main id='root'></main>
