<!DOCTYPE html>
<html>
  <head>
    <title>Eventliter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <script type="text/javascript">
      function initMap() {
        
        }
    </script>
        <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&callback=initMap" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
